<div class="dialogHeader" style="background-color: #3bb77e;">
  <h3>Şifrəni dəyiş</h3>
  <i class="far fa-window-close" (click)="dialogRef.close()"></i>
</div>

<div class="p-3">
  <form [formGroup]="passwordForm">
    <div class="form" [ngClass]="{'border-red': !cf['oldPassword'].valid && formSubmitted}">
      <button>
        <img src="../../../assets/images/key.svg" alt="">
      </button>
      <input id="oldPassword" class="input" placeholder="*Cari şifrə" required type="password" formControlName="oldPassword" autocomplete="off">
      <button type="button" (click)="switchPasswordInput('oldPassword')">
        <i class="fa-regular fa-eye fa-sm" [ngClass]="{'fa-eye': showOldPassword, 'fa-eye-slash': !showOldPassword}"></i>
      </button>
      <!-- <small class="text-danger" *ngIf="cf['oldPassword'].errors?.['required']">Cari şifrəni daxil edin</small> -->
    </div>

    <div class="form" [ngClass]="{'border-red': !cf['password'].valid && formSubmitted}">
      <button>
        <img src="../../../assets/images/key.svg">
      </button>
      <input id="password" class="input" placeholder="*Yeni şifrə" required type="password" formControlName="password"
        autocomplete="off">
      <button type="button" (click)="switchPasswordInput('password')">
        <i class="fa-regular fa-eye fa-sm" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
      </button>
    </div>

    <div class="form" [ngClass]="{'border-red': !cf['confirmPassword'].valid && formSubmitted}">
      <button>
        <img src="../../../assets/images/key.svg">
      </button>
      <input id="confirmPassword" class="input" placeholder="*Yeni şifrənin təkrarı" required type="password"
        formControlName="confirmPassword" autocomplete="off">
      <button type="button" (click)="switchPasswordInput('confirmPassword')">
        <i class="fa-regular fa-eye fa-sm" [ngClass]="{'fa-eye': showConfirmPassword, 'fa-eye-slash': !showConfirmPassword}"></i>
      </button>
    </div>
    <div>

      <button id="save" class="save" type="button" (click)="changePassword()"
      [disabled]="passwordForm.invalid || cf['password'].value != cf['confirmPassword'].value">Yadda saxla</button>
    </div>
  </form>
</div>