<!-- <div class="text-left iq-breadcrumb-one iq-bg-over black" style="background: url(assets/images/banner/pages-banner.png) no-repeat scroll right center; background-size: contain;">
	<div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h1 class="title">Sifarişlər</h1>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item">
                            <a routerLink="" [routerLinkActive]="['active-menu']"><i class="fas fa-home me-2"></i>Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">Sifarişlər</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<div class="section-padding-120">
  <div class="container" style="overflow: auto;">
    <div *ngIf="orderData.length == 0" style="width: 100%; display: flex; justify-content: center;">
      <h4 >Sifariş yoxdur</h4>
    </div>
   <div class="web-view" *ngIf="orderData.length !== 0">

    <div class="row order-header">
      <div class="col-lg-2">Sifariş №</div>
      <div class="col-lg-2">Məbləğ</div>
      <div class="col-lg-2">Xidmət haqqı</div>
      <div class="col-lg-2">Sayı</div>
      <div class="col-lg-2">Yardılma tarixi</div>
      <div class="col-lg-2">Status</div>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of orderData; let i = index">
        <mat-expansion-panel-header>
          <div class="row w-100">
            <div class="col-lg-2" style="font-weight: 500;">{{item.no}}</div>
            <div class="col-lg-2">{{item.amount}} ₼</div>
            <div class="col-lg-2">{{item.serviceFee}} ₼</div>
            <div class="col-lg-2">{{item.itemCount}}</div>
            <div class="col-lg-2">{{item.createdDate | date: 'dd-MM-yyyy'}}</div>
            <div class="col-lg-2">{{item.status}}</div>
          </div>
        </mat-expansion-panel-header>
        <div class="order-item-div">
          <div class="row order-item-header">
            <div class="col-lg-3">Məhsulun adı</div>
            <div class="col-lg-3">Sayı</div>
            <div class="col-lg-3">Qiyməti</div>
            <div class="col-lg-3">Məbləğ</div>
          </div>
          <div class="row order-item-body" *ngFor="let orderInItems of item.items">
            <div class="col-lg-3">{{orderInItems.name}}</div>
            <div class="col-lg-3">{{orderInItems.count}}</div>
            <div class="col-lg-3">{{orderInItems.price | number : '1.2-2'}} ₼</div>
            <div class="col-lg-3">{{orderInItems.price! * orderInItems.count! | number : '1.2-2'}} ₼</div>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <p style="color: #3bb77e; margin-top: 10px;"><b>Ümumi məbləğ: {{item.amount! + item.serviceFee! | number : '1.2-2'}} ₼</b></p>
          <div>
          <p *ngIf="item?.orderStatus! == 1 " class="btn iq-button-checkout  mt-2" (click)="cancelOrder(item.id!)" style="background: #e84118;color: #fff;
          padding: 12px 30px; margin-right: 10px;">Ləğv et</p>

          <p *ngIf="item?.orderStatus! == 1 " class="btn iq-button-checkout animation-btn mt-2" (click)="openDialog(item.id!)">Düzəliş et</p>

          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   </div>

   <div class="mobile-view">
    <div *ngIf="orderData.length == 0" style="width: 100%; display: flex; justify-content: center;">
      <h4 >Sifariş yoxdur</h4>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of orderData; let i = index" >
        <mat-expansion-panel-header >
          <mat-panel-title style="font-weight: 500;">
            {{item.no}}
          </mat-panel-title>
          <mat-panel-description>
            <p>{{item.amount}} ₼</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="main-order-info">
          <p>Xidmət haqqı: {{item.serviceFee | number : '1.2-2'}} ₼</p>
          <p>Sayı:  {{item.itemCount}} </p>
          <p>Yardılma tarixi: {{item.createdDate | date: 'dd-MM-yyyy'}}</p>
          <p>Status: {{item.status}}</p>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let orderItem of item.items">
            <mat-expansion-panel-header >

              <mat-panel-description >
                <p style="margin-left: 0 !important; color: #636e72;"> {{orderItem.name}}.</p>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="main-order-info">
              <p>Məhsulun adı: {{orderItem.name}}</p>
              <p>Sayı: {{orderItem.count}} </p>
              <p>Qiyməti {{orderItem.price}}  ₼</p>
              
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div style="display: flex; justify-content: space-between;">
          <p *ngIf="item?.orderStatus! == 1 " class="btn iq-button-checkout  mt-2" (click)="cancelOrder(item.id!)" style="background: #e84118;color: #fff;
          padding: 12px 30px; margin-right: 10px;">Ləğv et</p>
          <p *ngIf="item?.orderStatus! == 1 " class="btn iq-button-checkout animation-btn mt-2" (click)="openDialog(item.id!)">Düzəliş et</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    
   </div>
  </div>
</div>