<div class="dialogHeader">
          <h3>Ödəniş et</h3>
  <i class="far fa-window-close" (click)="dialogRef.close()"></i>
</div>
<div class="form-container">
  <form [formGroup]="paymentForm" (ngSubmit)="paymentFunc()">
      <div class="row input-container">
        <div class="col-lg-6">
            <mat-form-field>
                <mat-label>İstifadəçi</mat-label>
                <mat-select formControlName="userId" >
                    <mat-option *ngFor="let category of allUser"  
                        [value]="category.key">{{category.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
          <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                  <mat-label>Məbləğ</mat-label>
                  <input type="text" matInput placeholder="Maksimum 15 simvol" #message maxlength="15"
                      formControlName="amount" required>
              </mat-form-field>
          </div>
      </div>
      <div class="add-button">
          <div [ngSwitch]="data.id">
              <div *ngSwitchCase="0"><button type="submit" mat-raised-button color="primary"
                      class="dialog-button" [disabled]="paymentForm.invalid">Əlavə et</button></div>
              <div *ngSwitchDefault><button type="submit" mat-raised-button color="primary"
                      class="dialog-button">Dəyişdir</button></div>
          </div>

      </div>
  </form>
</div>
