.row{
    margin: 0;
    padding: 2%;
}

.img-div{
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;

}

.detail_image{
    width: 100%;
    border-radius: 10px;
}

.tittle h4{
    font-family: "Dosis", sans-serif !important;
}

.stars i{
    color:  #21345442;
    margin-right: 2px;
}

.price-div span:nth-child(1){
    font-weight: 500;
    color: black;
}

.description-div{
    margin-top: 15px;
}

.price-div span:nth-child(2){
    color: #0984e3;
}

.description-div p:nth-child(1){
    margin-bottom: 0;
    font-family: "Dosis", sans-serif !important;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
}

.review{
    display: flex;
    margin-bottom: 15px;
}

.review p{
    margin: 0;
}

.review-content{
    background-color: #D5F4E7;
    margin-left: 10px;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.review-content>p:nth-child(1){
    font-weight: 600;
    font-family: "Dosis", sans-serif !important;
    color: #576574;
    font-size: 17px;
}

.review img{
    width: 35px;
    height: 35px;
    border: 2px solid #3bb77e;
    border-radius: 50%;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
    cursor: pointer;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }