<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-pulse" [fullScreen]="true">
  <p style="color: white"> Yüklənir... </p>
</ngx-spinner>
<div class="operation-div">
  <button color="primary" mat-raised-button [matMenuTriggerFor]="menu" class="operation-button">Əməliyyatlar</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog(1)" [disabled]="selectedId !== 0"><i class="fas fa-plus"></i> Əlavə
      et</button>
    <button mat-menu-item (click)="openDialog(3)" [disabled]="selectedId == 0"><i class="fas fa-pen"></i> Düzəliş
      et</button>
  </mat-menu>
</div>


<div class="table-div">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{(paginator.pageIndex *
        paginator.pageSize) + (i + 1)}} </td>
    </ng-container>

    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef>Kateqoriya</th>
      <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
    </ng-container>

    <ng-container matColumnDef="subCategoryName">
      <th mat-header-cell *matHeaderCellDef>Alt kateqoriya</th>
      <td mat-cell *matCellDef="let element"> {{element.subCategoryName}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Məhsul</th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} ₼</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Say</th>
      <td mat-cell *matCellDef="let element"> {{element.count}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Məbləğ</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} ₼</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Yaranma tarixi</th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [attr.data-index]="i"
      [ngClass]="{'selected-row': isActive(i)}" (click)=" highlight(i, row.id);">
    </tr>
  </table>
  <mat-paginator [length]="length" #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)" showFirstLastButtons>
  </mat-paginator>

</div>