<div class="banner section-padding-120 pb-0" id="home-1">
  <div class="slider-image" id="banner-slider-image">
    <div class="slider-2"></div>
    <div class="slider-3"></div>
    <div class="slider-4"></div>
    <div class="slider-5"></div>
    <div class="slider-6"></div>
    <div class="slider-text">
      <div class="scrolling-text vertical-scroll text-center">
        <div>Sürətli</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center mt-mb-0 mb-4">
        <div class="hero-left">
          <h2 id="banner-title">Şehli <span class="text-primary">Şehli</span><br>
            Alış-veriş
          </h2>

          <div class="iq-btn-container" id="banner-action">
            <a href="#products">
              <div class="btn btn-secondary animation-btn">
                Alış-verişə başla
                <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="banner-image-bg"
        style="background: url(assets/images/banner/banner-2-shap.png) no-repeat scroll center center; background-size:contain; ">
        <img alt="img" src="assets/images/banner/man.png" id="banner-image" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
</div>
<div class="section-padding-120" id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3 col-x1-3 col-md-12 col-sm-12" data-iq-gsap="onStart" data-iq-position-x="-150"
            data-iq-rotate="0" data-iq-trigger="scroll" data-iq-ease="power.inOut">
            <div class="product-left-sidebar">
              <div class="card">
                <div class="card-body">
                  <div class="input-group1">
                    <input class="text-search text-search-sm" type="text" placeholder="Məhsul axtar"
                      aria-label=".form-control-sm example">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="iq-title-box1">
                    <h5 class="iq-title">Məhsul kateqoriyaları</h5>
                    <div class="iq-title-divider"></div>
                  </div>
                  <div class="chat-list-main">
                    <ul class="list-unstyled">
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Bakery <span class="text-primary">(5)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Breakfast Cereals <span class="text-primary">(9)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Corn <span class="text-primary">(2)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Fruit Yogurt <span class="text-primary">(4)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Fruits <span class="text-primary">(7)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Maggi <span class="text-primary">(3)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Pizza <span class="text-primary">(2)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Salads <span class="text-primary">(4)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Snacks <span class="text-primary">(3)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Soups <span class="text-primary">(8)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Spices <span class="text-primary">(6)</span>
                        </a>
                      </li>
                      <li class="chat-list">
                        <a href="javascript:void(0)" class="pointer">
                          Vegetables <span class="text-primary">(7)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="iq-title-box1">
                    <h5 class="iq-title">Populyar Məhsullar</h5>
                    <div class="iq-title-divider"></div>
                  </div>
                  <div class="mt-2">
                    <ul class="list-inline m-0 p-0">
                      <li class="d-flex mb-3 align-items-center active">
                        <img src="../assets/images/product/03.jpg" alt="product-image" class="rounded avatar-70 w-25">
                        <div class="ms-3">
                          <a href="../product/onSale.html" class="iq-product-title-link h5">Bread Breakfast</a>
                          <p class="mb-0"> ₼7.50</p>
                        </div>
                      </li>
                      <li class="d-flex mb-3 align-items-center active">
                        <img src="../assets/images/product/06.jpg" alt="product-image" class="rounded avatar-70 w-25">
                        <div class="ms-3">
                          <a href="../product/onSale.html" class="iq-product-title-link h5">Heinz Ketchup</a>
                          <p class="mb-0"> ₼25</p>
                        </div>
                      </li>
                      <li class="d-flex align-items-center active">
                        <img src="../assets/images/product/02.jpg" alt="product-image" class="rounded avatar-70 w-25">
                        <div class="ms-3">
                          <a href="../product/onSale.html" class="iq-product-title-link h5">Side Dish</a>
                          <div class="d-flex ">
                            <p class="text-decoration-line-through text-secondary me-1"> ₼10</p>
                            <p class="mb-0"> ₼8</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-12" data-iq-gsap="onStart" data-iq-position-x="150" data-iq-rotate="0"
            data-iq-trigger="scroll" data-iq-ease="power.inOut">
            <div class="mb-3 d-flex justify-content-between align-items-center">
              <p class="mb-0">
                41 nəticədən 1&ndash;12 arası göstərilir
              </p>
              <select name="orderby" class="orderby" aria-label="Shop order">
                <option value="menu_order" selected='selected'>Defolt çeşidləmə</option>
                <option value="popularity">Populyarlığa görə sırala</option>
                <option value="rating">Ortalama reytinqə görə sırala</option>
                <option value="date">Ən yeni məhsulları sırala</option>
                <option value="price">Qiymətə görə: aşağıdan yuxarıya</option>
                <option value="price-desc">Qiymətə görə: yuxarıdan aşağıya </option>
              </select>
              <input type="hidden" name="paged" value="1" />
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/04.png" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Breakfast Cereals,Snacks</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Bolthouse</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼100</b></span>
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/14.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Bakery,Snacks</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Bread</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"> ₼1200</span>
                          <span class="text-primary"><b> ₼1000</b></span>
                        </h6>
                         
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/03.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Breakfast Cereals</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Bread Breakfast</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼7.50</b></span>
                        </h6>
                        
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/13.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Salads,Soups</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Broccoli</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼15</b></span>
                        </h6>
                         
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/15.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Soups,Vegetables</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Cardamom</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼22</b></span>
                        </h6>
                         
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/16.png" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>maggi</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Cheese maggi</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"> ₼20</span>
                          <span class="text-primary"><b> ₼10</b></span>
                        </h6>
                        
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/05.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Bakery,Breakfast Cereals</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Green Machine</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"> ₼45</span>
                          <span class="text-primary"><b> ₼40</b></span>
                        </h6>
                         
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/01.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Breakfast Cereals,Snacks</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Chips</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼10</b></span>
                        </h6>
                        
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/13.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Salads,Soups</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Broccoli</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼15</b></span>
                        </h6>
                         
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/13.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Salads,Soups</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Broccoli</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼15</b></span>
                        </h6>
                        
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/15.jpg" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>Soups,Vegetables</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Cardamom</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼22</b></span>
                        </h6>
                         
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="../assets/images/product/16.png" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>maggi</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">Cheese maggi</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"> ₼20</span>
                          <span class="text-primary"><b> ₼10</b></span>
                        </h6>
                        
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon">
                            <a href="javascript:void(0)" data-alert="sweetalert-heart">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg custom-pagination">
                  <li class="page-item"><a class="page-link" href="javascript:void(0)"><i
                        class="fas fa-arrow-left"></i></a></li>
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)"><i
                        class="fas fa-arrow-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>