
<div class="banner section-padding-120 pb-0" id="home-1">
  <div class="slider-image" id="banner-slider-image">
    <div class="slider-2"></div>
    <div class="slider-3"></div>
    <div class="slider-4"></div>
    <div class="slider-5"></div>
    <div class="slider-6"></div>
    <div class="slider-text">
      <div class="scrolling-text vertical-scroll text-center">
        <div>Sürətli</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center mt-mb-0 mb-4">
        <div class="hero-left">
          <h2 id="banner-title">Şehli <span class="text-primary">Şehli</span><br>
            Alış-veriş
          </h2>

          <div class="iq-btn-container" id="banner-action">
            <a href="#products">
              <div class="btn btn-secondary animation-btn">
                Alış-verişə başla
                <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="banner-image-bg"
        style="background: url(assets/images/banner/banner-2-shap.png) no-repeat scroll center center; background-size:contain; ">
        <img alt="img" src="assets/images/banner/man.png" id="banner-image" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
</div>
<div class="section-padding-120" #products id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3 col-x1-3 col-md-12 col-sm-12" data-iq-gsap="onStart" data-iq-position-x="-150"
            data-iq-rotate="0" data-iq-trigger="scroll" data-iq-ease="power.inOut">
            <div class="product-left-sidebar">
              <div class="card">
                <div class="card-body">
                  <div class="input-group1">
                    <input class="text-search text-search-sm" type="text" placeholder="Məhsul axtar" (input)="filterProducts($event)"
                      aria-label=".form-control-sm example">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="iq-title-box1">
                    <h5 class="iq-title">Məhsul kateqoriyaları</h5>
                    <div class="iq-title-divider"></div>
                  </div>
                  <div class="chat-list-main" id="#leftside-navigation" id="accordionExample">

                    <ul class="list-unstyled">
                      <li class="chat-list" id="chat-list" *ngFor="let category of categories;  index as i">
                        <div style="display: flex;justify-content: space-between;">
                          <a (click)="categoryClick(category.id)">
                            {{category.name}}
                          </a>
                          <i *ngIf="category.subCategoryData?.length !== 0" class="fas fa-chevron-down" type="button"
                            data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + '-' + i"
                            aria-expanded="false" [attr.aria-controls]="'#collapse'  + '-' + i"></i>
                        </div>
                        <ul id="collapse-{{i}}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                          <li class="subLi" *ngFor="let item of category.subCategoryData"
                            (click)="subCategoryClick(category.id , item.key)">{{item.value}}</li>

                        </ul>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-12" data-iq-gsap="onStart" data-iq-position-x="150" data-iq-rotate="0"
            data-iq-trigger="scroll" data-iq-ease="power.inOut">
            <div class="mb-3 d-flex justify-content-between align-items-center">

              <select name="orderby" class="orderby" aria-label="Shop order">
                <option value="menu_order" selected='selected'>Defolt çeşidləmə</option>
                <option value="popularity">Populyarlığa görə sırala</option>
                <!-- <option value="rating">Ortalama reytinqə görə sırala</option> -->
                <option value="date">Ən yeni məhsulları sırala</option>
                <option value="price">Qiymətə görə: aşağıdan yuxarıya</option>
                <option value="price-desc">Qiymətə görə: yuxarıdan aşağıya </option>
              </select>
              <input type="hidden" name="paged" value="1" />
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
              <div class="col" *ngFor="let product of productData; let i=index">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="iq-product-image">
                      <img src="http://192.168.37.49:3005/{{product.imagePath}}" class="hover_image" alt="img">
                    </div>
                    <div class="iq-product-content mt-3">
                      <p class="mb-0"><small>{{product.categoryName}}</small> →
                        <small>{{product.subCategoryName}}</small></p>
                      <a href="../product/new-product.html" class="iq-product-title-link h5">{{product.productName}}</a>
                      <div class="d-flex align-items-center justify-content-between my-2">
                        <h6 class="m-0">
                          <span class="text-decoration-line-through"></span>
                          <span class="text-primary"><b> ₼{{product.price}}</b></span>
                        </h6>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <div class="iq-btn-container">
                          <a class="" href="javascript:void(0)"  (click)="addProductToBasket(product.id)">
                            <div class="btn btn-secondary animation-btn">
                              Səbətə at
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                            </div>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="iq-product-icon" [ngClass]="{'favorite':product.isFavorite}" (click)="addToWishList(i, product.id)">
                            <a href="javascript:void(0)">
                              <i class="far fa-heart"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">

              <mat-paginator *ngIf="productData.length !== 0" [length]="length" #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onChangePage($event)" showFirstLastButtons>
              </mat-paginator>
              <!-- <nav aria-label="Page navigation" *ngIf="productData.length !== 0">
                <ul class="pagination pagination-lg custom-pagination">
                  <li class="page-item"><a class="page-link" href="javascript:void(0)"><i
                        class="fas fa-arrow-left"></i></a></li>
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)"><i
                        class="fas fa-arrow-right"></i></a></li>
                </ul>
              </nav> -->
              <h3 *ngIf="productData.length == 0" style="margin-top: 10%;">Məhsul tapılmadı</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>