.chat-list {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.chat-list div a:hover {
    cursor: pointer;
}

.subLi {
    padding: 5px !important;
    list-style: none;
    border-radius: 5px;
}

.subLi:hover {
    background-color: #3bb77e;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.subLi-selected {
    background-color: #3bb77e;
    color: white;
}

.category-selected {
    color: #2f9265;
    font-weight: bold;
}

.favorite a {
    background: #ffba43;
    color: #fff !important;
    
}

.oldPrice{
    position: relative;
    display: inline-block;
}

.oldPrice::before {
    content: "";
    position: absolute;
    bottom: 9px; /* xəttin yüksəkliyi */
    left: 0;
    width: 100%;
    height: 2px; /* xəttin eni */
    background-color: #ffba43; /* xəttin rəngi */
  }

  h6 i{
    color: #ffba43;
  }
