<div class="section-padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body justify-content-center d-flex">

                        <form [formGroup]="contactUsForm">
                            <div class="row" style="align-items: center;">
                                <label>*Mövzu</label>
                                <div class="content">
                                    <select formControlName="subjectId" style="width: 100%;" [ngClass]="{'border-red': submitted && Cf['subjectId'].errors?.['required'] }">
                                        <option value="1">Təklif</option>
                                        <option value="2">Problem</option>
                                        <option value="3">Digər</option>
                                        <!-- <mat-option *ngFor="let category of allUser"  (click)="contactUs()"
                                            [value]="category.key">{{category.value}}</mat-option> -->
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="align-items: center;">
                                <label>*Təsvir</label>
                                <div class="content">
                                    <textarea [ngClass]="{'border-red': submitted && Cf['content'].errors?.['required'] }" id="content" class="input" required formControlName="content"
                                        autocomplete="off"></textarea>
                                </div>
                            </div>

                            <div class='file-input'>
                                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
                                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                                        >
                                        <span (click)="openFileSelector()">Drag & Drop your files or Browse</span>
                                        <!-- <button type="button" style="display: none !important;" (click)="openFileSelector()">Browse Files</button> -->
                                    </ng-template>
                                </ngx-file-drop>
                            </div>

                            <div class="row">
                                <button id="save" class="save" type="button" (click)="contactUs()"
                                    [disabled]="false">Yadda saxla</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>