.ticker-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #d8f1e5;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 0;
  z-index: 1000;
}

.ticker-track {
  display: flex;
  white-space: nowrap;
}

.ticker-content {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  animation-timing-function: linear;
}

.ticker-content span {
  display: inline-block;
  padding: 0 16px;
  transition: color 0.3s;
}

.ticker-content span:hover {
  color: #425d28;
  transform: scale(1.02);
  cursor: pointer;
}
