<ngx-spinner type="none" bdColor="rgba(256, 256, 256, 0.8)" size="medium" color="#fff" [fullScreen]="true" type="none">
   <img src="../../../assets/images/output-onlinegiftools.gif" alt="">
 </ngx-spinner>
<div class="text-left iq-breadcrumb-one iq-bg-over black" style="background: url(assets/images/banner/pages-banner.png);background-size: cover;">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-sm-12">
             <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                <h2 class="title">Kateqoriya siyahısı</h2>
             </nav>
          </div>
       </div>
    </div>
 </div>
 <div class="iq-category-grid section-padding-120">
    <div class="container">
       <img src="assets/images/banner/shap-10.png" class="background-img background-img-ab-1 img-fluid" alt="shap-10">
       <div class="row" >
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link  d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/01.png) no-repeat ;background-size: cover;">
                <a href="product/new-product.html">
                   <div class="iq-category-details  overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Bakery</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/02.png) no-repeat ;background-size: cover;">
                <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Breakfast Cereals</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/03.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Corn</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/04.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Friut Yogurt</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/05.png) no-repeat;background-size: cover;">
                <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Friut</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/06.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Maggi</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/07.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Pizza</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/08.png) no-repeat;background-size: cover;">
                <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Salads</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/09.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Snacks</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/10.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Soups</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/11.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Spices</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-iq-gsap="onStart"
               data-iq-position-y="-50"
               data-iq-rotate="0"
               data-iq-trigger="scroll"
               data-iq-ease="power.inOut">
             <div class="iq-category-link d-block mb-4 rounded position-relative"  style="background: url(assets/images/category/12.png) no-repeat;background-size: cover;">
                 <a href="product/new-product.html">
                   <div class="iq-category-details overflow-hidden position-relative d-flex align-items-center p-4 align-content-center flex-wrap text-white w-100">
                      <h5 class="iq-title mb-2 d-block w-100">Vegetables</h5>
                      <div class="btn btn-secondary animation-btn">
                            View All
                            <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                      </div>
                   </div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>