.chart {
    max-width: 650px;
    margin: 35px auto;
  }

  .container-fluid{
    background-color: #e1e4e4;
  }

  .headerDiv {
    position: relative; /* Set position to relative */
    background-color: white;
  }
  
  .headerDiv::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; /* Position the line to the right */
    height: 100%; /* Make the line the full height of the box */
    width: 1px; /* Width of the line */
    background-color: black; /* Color of the line */
  }
  
  .categoryDiv, .monthlyDiv, .saleHuman, .productDiv{
    background-color: white;
  }

  .productDiv{
    height: 264px;
  }

.saleHuman .sale{
  color: #7c795d;
   font-size: 20px; 
   font-weight: bolder; 
   font-family: 'Signika', sans-serif; 
}

.saleHuman .gender{
  color: #7c795d;
   font-size: 15px; 
   font-weight: normal; 
   font-family: 'Signika', sans-serif; 
}