::ng-deep .mat-mdc-form-field-underline {
  display: none;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  margin-top: 13px;
}

::ng-deep .mdc-text-field--disabled {
  margin-top: 4px;
}

::ng-deep .select .mdc-text-field--disabled.mdc-text-field--filled {
  background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border: none !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border: none !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

::ng-deep .field .mdc-text-field {
  padding: 0 !important;
}

::ng-deep .form-container .mat-mdc-form-field {
  width: 100% !important;
}

::ng-deep .mat-mdc-form-field-icon-suffix,
.mat-mdc-form-field-icon-prefix {
  margin-top:10px !important;
}

.field input,
.field select,
.field .mat-select,
.field .mat-mdc-form-field-type-mat-select,
.field .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input,
.field .mat-datepicker {
  border: none;
}

::ng-deep .mdc-notched-outline__trailing,
::ng-deep.mdc-text-field--outlined,
::ng-deep.mdc-notched-outline__notch,
::ng-deep.mdc-notched-outline__leading {
  border: none !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
}

::ng-deep .mat-mdc-paginator-page-size {
  margin-top: 15px;
}

.chart {
    max-width: 650px;
    margin: 35px auto;
  }

  .container-fluid{
    background-color: #e1e4e4;
  }
 
  .headerDiv {
    position: relative; /* Set position to relative */
    background-color: white;
  }
  
  .headerDiv::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; /* Position the line to the right */
    height: 100%; /* Make the line the full height of the box */
    width: 1px; /* Width of the line */
    background-color: black; /* Color of the line */
  }

  .headerDiv span{
    font-size: 12px;
  }
  
  .categoryDiv, .monthlyDiv, .saleHuman, .productDiv{
    background-color: white;
  }

  .productDiv{
    height: 264px;
  }

.saleHuman .sale{
  color: #7c795d;
   font-size: 20px; 
   font-weight: bolder; 
   font-family: 'Signika', sans-serif; 
}

.saleHuman .gender{
  color: #7c795d;
   font-size: 15px; 
   font-weight: normal; 
   font-family: 'Signika', sans-serif; 
}

.range-date{
  display: flex;
  margin-left: 2%;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.clock {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: #5161ce;
  border-radius: 10px;
  padding: 7px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  min-width: 185px;
  max-width: 186px;
  height: 50px;
}

.date {
  height: 50px;
  background-color: #5161ce;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.filter-btn {
  width: 80%;
  font-size: 22px;
  text-align: center;
  height: 45px;
  border: none;
  outline: none;
  background-color: #5161ce;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.digit {
  display: inline-block;
  padding: 5px;
  // background-color: #64b5f6; /* Adjust color as needed */
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.colon {
  display: inline-block;
  padding: 0 10px;
  color: #64b5f6; /* Adjust color as needed */
}
