<div class="container-fluid">
  <div class="row p-2">

    <div class="col-md-8">
      <div class="row my-2">
        <div class="col-md-2 mt-1" style="min-width: 210px;">
          <div class="clock d-flex justify-content-between align-items-center">
            <div class="digit hours">{{ time | date: 'HH' }}</div>
            <div class="colon">:</div>
            <div class="digit minutes">{{ time | date: 'mm' }}</div>
            <div class="colon">:</div>
            <div class="digit seconds">{{ time | date: 'ss' }}</div>
          </div>
        </div>

        <div class="mt-1 col-md-4 ms-1 p-0 row align-items-center">
          <div class="date col-sm-9">
            <div class="field col-lg-12">
              <mat-form-field class="col-md-12" style="margin: 14px 0 0 0;">
                <mat-date-range-input style="color: #fff !important;" class="mt-3" [formGroup]="range"
                  [rangePicker]="picker">
                  <input style="font-size: 17px;" matStartDate formControlName="start" readonly placeholder="Start date"
                    (click)="picker.open()">
                  <input style="font-size: 17px;" matEndDate formControlName="end" readonly placeholder="End date"
                    (click)="picker.open()">
                </mat-date-range-input>
                <mat-datepicker-toggle style="color: #fff !important;" class="mt-3" matIconSuffix
                  [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker style="color: #fff !important;" class="mt-3" #picker
                  (monthSelected)="setMonthAndYear($event, picker)"></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3">
            <button class="filter-btn col-sm-12" (click)="getDashboardInfo()">
              <i class="fa-regular fa-magnifying-glass"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="px-2">
        <div class="row headerDiv p-1 mt-2">
          <div class="col-lg-3">
            <h5 class="d-flex justify-content-center">{{dashboardData?.totalAmounts.userCount}}</h5>
            <span class="d-flex justify-content-center">Müştərilər</span>
          </div>
          <div class="col-lg-3">
            <h5 class="d-flex justify-content-center">{{dashboardData?.totalAmounts.orderAmount}} ₼</h5>
            <span class="d-flex justify-content-center">Satish Məbləği</span>
          </div>
          <div class="col-lg-3">
            <h5 class="d-flex justify-content-center">{{dashboardData?.totalAmounts.paymentAmount}} ₼</h5>
            <span class="d-flex justify-content-center">Ödəniş Məbləği</span>
          </div>
          <div class="col-lg-3">
            <h5 class="d-flex justify-content-center">{{dashboardData?.totalAmounts.dailyAverage}} ₼</h5>
            <span class="d-flex justify-content-center">Günlük Abarot</span>
          </div>
        </div>

        <div class="row pt-2 secondDiv">
          <div class="col-lg-4 col-md-4 categoryDiv">
            <div class="">
              <div id="chart">
                <apx-chart [series]="chartOptionsDelay.series!" [chart]="chartOptionsDelay.chart!"
                  [dataLabels]="chartOptionsDelay.dataLabels!" [plotOptions]="chartOptionsDelay.plotOptions!"
                  [xaxis]="chartOptionsDelay.xaxis!"></apx-chart>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 pe-0" style="float: right;">
            <div class="monthlyDiv">
              <div #chartMonthly>
                <apx-chart [series]="chartOptionsMonthly.series!" [chart]="chartOptionsMonthly.chartMonthly!"
                  [xaxis]="chartOptionsMonthly.xaxis!" [dataLabels]="chartOptionsMonthly.dataLabels!"
                  [grid]="chartOptionsMonthly.grid!" [stroke]="chartOptionsMonthly.stroke!"
                  [title]="chartOptionsMonthly.title!" [markers]="chartOptionsMonthly.markers!"
                  [yaxis]="chartOptionsMonthly.yaxis!" [fill]="chartOptionsMonthly.fill!"></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 ps-0">
      <div class="row saleHuman pt-1 ms-1">
        <h5 class="text-center">Top Shoppers</h5>

        <div class="col-lg-4 col-md-4" *ngFor="let topShopper of dashboardData?.topShoppers">
          <img *ngIf="topShopper.gender== 1" src="../../../assets/images/thomasshelby.jpg" width="125"
            alt="thomas-shelby">
          <img *ngIf="topShopper.gender == 0" src="../../../assets/images/harley-quinn.jpg" width="125"
            alt="harley-quinn">
          <span class="d-flex justify-content-center sale">₼ {{topShopper.amount}}</span>
          <span class="d-flex justify-content-center gender mb-1">{{topShopper.name}}</span>
        </div>

      </div>

      <div class="row mt-3 ms-1 productDiv">
        <apx-chart [series]="chartOptionsProduct.series!" [chart]="chartOptionsProduct.chart!"
          [labels]="chartOptionsProduct.labels!" [responsive]="chartOptionsProduct.responsive!"></apx-chart>
      </div>

    </div>
  </div>
</div>