<div class="section-padding-120">
  <div class="container" style="overflow: auto;">

    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Tarix aralığı seçin</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" readonly placeholder="Start date" (click)="picker.open()">
            <input matEndDate formControlName="end" readonly placeholder="End date" (click)="picker.open()">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker>
            <mat-datepicker-actions>
              <button mat-raised-button matDatepickerApply (click)="selectToday()">Bu gün</button>
              <button mat-raised-button color="primary" matDatepickerApply (click)="search()">
                Axtar
              </button>
            </mat-datepicker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-lg-9" style="background-color: rgb(238, 236, 236);">
        <h5 class="statusText pt-3 typewriter-text">{{textObject[dashboardData.textType.textType]}}</h5>
      </div>
    </div>


    <div class="row">

    </div>

    <div class="row mt-2">
      <div class="col-lg-7 col-md-7">
        <div class="monthlyDiv">
          <div #chartMonthly>
            <apx-chart [series]="chartOptionsMonthly.series!" [chart]="chartOptionsMonthly.chartMonthly!"
              [xaxis]="chartOptionsMonthly.xaxis!" [dataLabels]="chartOptionsMonthly.dataLabels!"
              [grid]="chartOptionsMonthly.grid!" [stroke]="chartOptionsMonthly.stroke!"
              [title]="chartOptionsMonthly.title!" [markers]="chartOptionsMonthly.markers!"
              [yaxis]="chartOptionsMonthly.yaxis!" [fill]="chartOptionsMonthly.fill!"></apx-chart>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5">
        <div class="row">
          <div class="col-lg-4 headerDiv">
            <h5 class="d-flex justify-content-center pt-2">{{dashboardData?.totalAmounts.orderAmount}} ₼</h5>
            <span class="d-flex justify-content-center">Satış Məbləği</span>
          </div>
          <div class="col-lg-4 headerDiv pt-2">
            <h5 class="d-flex justify-content-center">{{dashboardData?.totalAmounts.paymentAmount}} ₼</h5>
            <span class="d-flex justify-content-center">Ödəniş Məbləği</span>
          </div>
          <div class="col-lg-4 headerDiv pt-2">
            <h5 class="d-flex justify-content-center">{{dashboardData?.totalAmounts.dailyAverage}} ₼</h5>
            <span class="d-flex justify-content-center">Günlük Abarot</span>
          </div>
        </div>

        <div class="mt-2 row productDiv">
          <apx-chart [series]="chartOptionsProduct.series!" [chart]="chartOptionsProduct.chart!"
          [plotOptions]="chartOptionsProduct.plotOptions!" [colors]="chartOptionsProduct.colors!"
            [labels]="chartOptionsProduct.labels!" [responsive]="chartOptionsProduct.responsive!" class="pt-1"></apx-chart>
        </div>
      </div>

    </div>



  </div>
</div>