
<div class="text-left iq-breadcrumb-one iq-bg-over black"
style="background: url(assets/images/banner/pages-banner.png) no-repeat scroll right center; background-size: contain;">
<div class="container">
   <div class="row align-items-center">
      <div class="col-sm-12">
         <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
            <h1 class="title">Cart</h1>
            <ol class="breadcrumb main-bg">
               <li class="breadcrumb-item">
                  <a routerLink="" [routerLinkActive]="['active-menu']"><i class="fas fa-home me-2"></i>Home</a>
               </li>
               <li class="breadcrumb-item active">Cart</li>
            </ol>
         </nav>
      </div>
   </div>
</div>
</div>
<div class="section-padding-120">
<div class="container">
   <div class="row">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table product-table mb-5">
                     <thead>
                        <tr>
                           <th scope="col">&nbsp;</th>
                           <th scope="col">&nbsp;</th>
                           <th scope="col"><span class="h5 mb-0">Məhsul</span></th>
                           <th scope="col"><span class="h5 mb-0">Qiymət</span></th>
                           <th scope="col"><span class="h5 mb-0">Miqdar</span></th>
                           <th scope="col"><span class="h5 mb-0">Məbləğ</span></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="align-items-center product" *ngFor="let basketItem of basketItems; let i=index">
                           <td class="vertical-middle">
                              <button type="button" (click)="removeBasketItem(basketItem.id)" class="cross"><i class="fas fa-times"></i></button>
                           </td>
                           <td class="vertical-middle">
                              <a target="_blank" [href]="imageIpUrl + basketItem.imageUrl">
                                 <img [src]="imageIpUrl + basketItem.imageUrl" class="img-width-100" alt="no image">
                              </a>
                           </td>
                           <td class="vertical-middle">{{ basketItem.name }}</td>
                           <td class="vertical-middle"><span class="price">{{ basketItem.price }} ₼</span></td>
                           <td class="vertical-middle">
                              <div class="buttons_added" data-qty="btn">
                                 <button type="button" [disabled]="basketItem.count==1" class="minus" (click)="changeQuantity(i, false)"><i class="fas fa-minus"></i></button>
                                 <input type="number" id="quantity"  class=" qty text" 
                                    min="0" name="cart" [(ngModel)]="basketItem.count"  title="Qty" placeholder="">
                                 <button type="button" class="plus" (click)="changeQuantity(i, true)"><i class="fas fa-plus"></i></button>
                              </div>
                           </td>
                           <td class="vertical-middle"><span class="sub-total">{{ calculateSubAmount(basketItem.count, basketItem.price) }} ₼</span></td>
                        </tr>

                        <tr *ngIf="basketItems.length=='0'">
                           <td colspan="6" class="text-center">Səbətdə məhsul yoxdur</td>
                        </tr>

                     </tbody>
                  </table>
               </div>
               <div class="cart_totals ">
                  <!-- <h3 class="mb-3 mt-2">Cart totals</h3> -->
                  <table class="table table-borderless product-table">
                     <thead>
                        <th><span class="h6">Total: {{basketAmount | number: '1.2-2'}} ₼</span></th>
                        <th><span class="h6">Servis haqqı: {{serviceFee ?? 0}} ₼</span></th>
                        <th><span class="h6">Ödəniləcək məbləğ: {{(basketAmount! + serviceFee!) | number: '1.2-2' }} ₼</span></th>
                     </thead>
                  </table>
                  <div class="iq-btn-container row" style="display: flex; justify-content: space-between; align-items: center;">
                     <div class="col-lg-6 mt-2">
                        <form [formGroup]="reviewForm">
                          <div class="form">
                            <input id="username" required class="input" placeholder="Ürək sözünü yaz" required type="text"
                              formControlName="comment" autocomplete="off">
                          </div>
                        </form>
                      </div>
                     <div class="col-lg-6" style="text-align: end;" *ngIf="basketItems.length > 0">
                        <a  href="javascript:void(0)">
                           <div class="btn btn-secondary animation-btn" (click)="submitOrder()">
                              Sifariş et
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

