<div class="dialogHeader">
    <div [ngSwitch]="data.id">
        <div *ngSwitchCase="0"><h3>Yeni alt kateqoriya</h3>
        </div>
        <div *ngSwitchDefault>Düzəliş et</div>
    </div>
    <i class="far fa-window-close" (click)="dialogRef.close()"></i>
</div>
<div class="form-container">
    <form [formGroup]="categoryForm" (ngSubmit)="categoryFunc()">
        <div class="row input-container">
            <div class="col-lg-6">
                <mat-form-field>
                    <mat-label>Kateqoriya seç</mat-label>
                    <mat-select formControlName="categoryId">
                      <mat-option *ngFor="let category of allCategory" [value]="category.key">{{category.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Alt kateqoriya adı</mat-label>
                    <input type="text" matInput placeholder="Maksimum 15 simvol" #message maxlength="25"
                        formControlName="name" required>
                    <mat-hint align="end">{{message.value.length}} / 25</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Rəng (hex code)</mat-label>
                    <input type="text" matInput placeholder="Maksimum 7 simvol" maxlength="7" formControlName="hexColor">
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <!-- <div style="color: {{}}"></div> -->
            </div>
        </div>
        <div>

        </div>
        <div class="add-button">
            <div [ngSwitch]="data.id">
                <div *ngSwitchCase="0"><button type="submit" mat-raised-button color="primary"
                        class="dialog-button">Əlavə et</button></div>
                <div *ngSwitchDefault><button type="submit" mat-raised-button color="primary"
                        class="dialog-button">Dəyişdir</button></div>
            </div>

        </div>
    </form>
</div>