<h2 mat-dialog-title class="dialog-title">
  <i class="fas fa-lock"></i>
  Yeni Şifrə Təyin Et
</h2>

<div mat-dialog-content [formGroup]="changeForm" class="dialog-content">

  <mat-form-field appearance="outline" class="w-100 custom-field">
    <mat-label>Yeni Şifrə</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 custom-field">
    <mat-label>Şifrə Təkrar</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
  </mat-form-field>

</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="btn-cancel">
    Bağla
  </button>

  <button mat-raised-button
          class="btn-send"
          (click)="resetPassword()"
          [disabled]="changeForm.invalid">
    Reset Password
  </button>
</div>