
<ngx-spinner type="none" bdColor="rgba(256, 256, 256, 0.8)" size="medium" color="#fff" [fullScreen]="true" type="none">
  <img src="../../../assets/images/output-onlinegiftools.gif" alt="">
</ngx-spinner>
<main class="main-content">

  <!--Nav Start-->
  <header class="header1 has-sticky" id="main-header">
    <div class="container main-header">
      <div class="row no-gutters">
        <div class="col-sm-12">
          <nav class="navbar navbar-expand-xl navbar-light menu py-0">
            <div class="logo_block">
              <a class="navbar-brand" routerLink="">
                <img class="img-fluid logo" src="./assets/images/logo.png" alt="foodsto" />
                <img class="img-fluid logo-sticky" src="./assets/images/logo.png" alt="foodsto" />
                <h4>Food King</h4>
              </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="foodsto-menu-box navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="iq-menu-container" class="menu-main-menu-container">
                <ul id="top-menu" class="navbar-nav">

                  <li class="nav-item-mobile">
                    <a routerLink="" aria-current="page" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Ana səhİfə
                    </a>
                  </li>
                  <li >
                    <a href="javascript:void(0)" class="menu-item">Kateqorİyalar
                      <i class="fas fa-chevron-down toggledrop"></i></a>
                    <ul class="sub-menu">
                      <li class="cursor-pointer nav-item-mobile" *ngFor="let category of categories"
                        (click)="browseCategory(category.key)">
                        <a>{{ category.value }}</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item-mobile">
                    <a [routerLink]="['daily-meal']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">bu günün yeməyİ</a>
                  </li>
                  <li *ngIf="isAuthenticated" class="nav-item-mobile">
                    <a [routerLink]="['wishlist']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Sevİmlİlər</a>
                  </li>
                  <li *ngIf="isAuthenticated" class="nav-item-mobile">
                    <a [routerLink]="['client-order']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">sİfarİşlər</a>
                  </li>
                  <li>
                    <div [ngSwitch]="isAuthenticated" class="navbar-controls-button">
                      <div *ngSwitchCase="false">
                        <div class="form-element">
                          <button id="logIn" class="login login-public" name="login">
                            <a [routerLink]="['user-login']">Daxil ol</a>
                          </button>
                        </div>
                      </div>
                      <div *ngSwitchDefault style="display: flex; align-items: center;">
                        <div class="user-icon-div">
                          <!-- <i class="fas fa-user-circle" [matMenuTriggerFor]="user"></i> -->
                          <lord-icon class="user-icon" trigger="hover" [matMenuTriggerFor]="user" (menuOpened)="getUserBalance()"
                            src="../../assets/images/wired-outline-21-avatar.json"></lord-icon>
                        </div>
                        <span [matMenuTriggerFor]="user"  class="user-icon-text">Hesabım</span>
                      </div>

                      <mat-menu #user="matMenu">
                        <div class="user-info" (click)="$event.stopPropagation()">
                          <span>{{userData?.fullName}}</span>
                          <div class="wallet"  [ngStyle]="balance>=0? {'background-color':'#3bb77e' } : {'background-color':'red' }">
                            <i class="fa-thin fa-coins" style="color:white;"></i>
                            <span (click)="copyCard()">{{balance | number : '1.2-2'}} ₼</span>
                            <!-- <button cdkCopyToClipboard="Caaart">Copy</button> -->
                          </div>
                          <hr>
                          <div class="logOut">
                            <span (click)="showCabinetDialog()">Kabinet</span>
                          </div>
                          <div class="logOut">
                            <span (click)="showChangePasswordDialog()">Şifrəni dəyiş</span>
                          </div>
                          <div class="logOut">
                            <img src="../../assets/images/wired-outline-1725-exit-sign.gif" alt="">
                            <span (click)="logOut()">Çıxış et</span>
                          </div>
                        </div>
                      </mat-menu>
                    </div>
                  </li>
                </ul>

              </div>
            </div>

            <div *ngIf="isAuthenticated">
              <!-- <i  class="fas fa-shopping-basket" ></i> -->
              <lord-icon class="basket-icon" trigger="hover" [matMenuTriggerFor]="menu" [matBadge]="basketItems.length"
                src="../../assets/images/wired-outline-139-basket.json"></lord-icon>

              <mat-menu #menu="matMenu">
                <div class="basket-div" (click)="$event.stopPropagation()">
                  <div *ngIf="basketItems.length > 0">
                    <div class="product-list">
                      <div class="product" *ngFor="let basketItem of basketItems">
                        <div class="product-img">
                          <img [src]="imageIpUrl + basketItem.imageUrl" alt="" />
                        </div>
                        <div class="product-info">
                          <span>{{ basketItem.name }}</span>
                          <span>
                            {{ basketItem.count + " × " + basketItem.price }}
                            ₼</span>
                        </div>
                        <div class="delete-product">
                          <i class="fas fa-times" (click)="removeBasketItem(basketItem.id)"></i>
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="totalAmount-div">
                      <span>Ümumi məbləğ:</span>
                      <span>{{ totalBasketAmount | number : '1.2-2'}} ₼</span>
                    </div>
                    <div class="button-div">
                      <div class="iq-btn-container" id="banner-action">
                        <a routerLink="cart" (click)="closeBasket()">
                          <div class="btn btn-secondary animation-btn">
                            Səbətə bax<i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                          </div>
                        </a>
                      </div>
                      <div class="iq-btn-container" id="banner-action">
                        <a href="javascript:void(0)" (click)="submitOrder()">
                          <div class="btn iq-button-checkout animation-btn">
                            Sifariş et<i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="basketItems.length == 0">
                    <!-- <i class="fa-thin fa-basket-shopping"></i> -->
                    <p class="text-center font-weight-bold">Səbətdə məhsul yoxdur</p>
                  </div>
                </div>
              </mat-menu>
            </div>




          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="iq-height" style="height: 89px"></div>

  <router-outlet></router-outlet>

  <footer class="footer bg-soft-primary">
    <div class="footer-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-logo">
              <a [routerLink]="['']">
                <img class="img-fluid" src="assets/images/logo.png" alt="foodsto1" />
                <h4>Food King</h4>
              </a>
            </div>
            <div class="widget mb-4">
              <div class="textwidget text-body">
                <p>
                  Qeydiyyatdan keçin və ilk sifarişiniz komissiyasız çatdırılsın!
                </p>
              </div>
            </div>
            <ul class="info-share social-icone d-inline list-inline">
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
            <div class="widget">
              <h5 class="footer-title">Keçidlər</h5>
              <div class="menu-footer1-container">
                <ul id="menu-footer1" class="menu list-inline p-0 m-0">
                  <li class="menu-item">
                    <a [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-menu"><i
                        class="fas fa-chevron-right me-2"></i>Ana
                      səhifə</a>
                  </li>
                  <li class="menu-item">
                    <a [routerLink]="['daily-meal']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-chevron-right me-2"></i>Bu günün
                      yeməyi</a>
                  </li>
                  <li class="menu-item" *ngIf="isAuthenticated">
                    <a [routerLink]="['wishlist']" [routerLinkActiveOptions]="{ exact: true }"
                      routerLinkActive="active-menu"><i class="fas fa-chevron-right me-2"></i>Sevimlilər</a>
                  </li>
                  <li class="menu-item" *ngIf="isAuthenticated">
                    <a [routerLink]="['cart']" [routerLinkActiveOptions]="{ exact: true }"
                      routerLinkActive="active-menu"><i class="fas fa-chevron-right me-2"></i>Səbət</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
            <!-- <div class="widget">
              <h5 class="footer-title">Məlumat</h5>
              <div class="menu-footer2-container">
                <ul id="menu-footer2" class="menu list-inline p-0 m-0">
                  <li class="menu-item">
                    <a href="about-us.html"><i class="fas fa-chevron-right me-2"></i>Haqqımızda</a>
                  </li>
                  <li class="menu-item">
                    <a href="our-team.html"><i class="fas fa-chevron-right me-2"></i>Komandamız</a>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
            <div class="widget">
              <h5 class="footer-title">Əlaqə</h5>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="iq-contact list-inline p-0 m-0">
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fa fa-home"></i>
                        <span>Grand Park
                          Hasan Bey Zardabi 313,
                          Baku city, Azerbaijan Republic</span>
                      </a>
                    </li>
                    <li>
                      <a href="mailto:foodkingaze@gmail.com"><i
                          class="fa fa-envelope"></i><span>foodkingaze@gmail.com</span></a>
                    </li>
                    <li>
                      <a href="tel:(+994) 51 250 07 02"><i class="fa fa-phone"></i><span>(+994) 51 250 07 02</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright-footer bg-soft-primary">
    <div class="container">
      <div class="pt-3 pb-3">
        <div class="d-flex justify-content-between">
          <span class="copyright">Copyright © {{year}} | All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="back-to-top">
    <a class="top" id="top" href="#top">
      <svg width="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 15.5L12 8.5L19 15.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
  <!--Nav End-->
</main>