<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2L4H86T" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<span class="screen-darken"></span>
<!-- loader Start -->
<!-- <div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body"></div>
    </div>
</div> -->
<!-- loader END -->

<main class="main-content">
  <!--Nav Start-->
  <header class="header1 has-sticky" id="main-header">
    <div class="container main-header">
      <div class="row no-gutters">
        <div class="col-sm-12">
          <nav class="navbar navbar-expand-xl navbar-light menu py-0">
            <div class="logo_block">
              <a class="navbar-brand" href="index.html">
                <img class="img-fluid logo" src="./assets/images/logo.png" alt="foodsto">
                <img class="img-fluid  logo-sticky" src="./assets/images/logo.png" alt="foodsto">
                <h4>Food King</h4>
              </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="foodsto-menu-box navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="iq-menu-container" class="menu-main-menu-container">
                <ul id="top-menu" class="navbar-nav">
                  <li class="active ">
                    <a href="javascript:void(0)" aria-current="page" class="menu-item">Ana səhİfə
                      </a>
                  </li>
                  <li class="">
                    <a href="javascript:void(0)" class="menu-item">Katİqorİyalar
                      <i class="fas fa-chevron-down  toggledrop"></i></a>
                    <ul class="sub-menu">
                      <li class=""><a href="about-us.html">Mağaza</a></li>
                      <li class=""><a href="our-team.html">Şirniyyat evi</a></li>
                      <li class=""><a href="contact-us.html">Aptek</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="javascript:void(0)" class="menu-item">Sevİmlİlər</a>
                  </li>
                  <li class="">
                    <a href="javascript:void(0)" class="menu-item">Səbət
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="iq-shop-btn-holder">
              <ul>
                <li>
                  <div class="search_count">
                    <a href="javascript:void(0)" id="btn-search-2"><i class="fa fa-search" data-bs-backdrop="false"
                        data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen"></i></a>
                    <div class="modal fade bg-transparent" data-bs-backdrop="false" id="exampleModalFullscreen"
                      tabindex="-1" aria-hidden="false">
                      <div class="modal-dialog modal-fullscreen iq-search-modal">
                        <div class="modal-content">
                          <div class="modal-header border-0">
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                          </div>
                          <div class="modal-body d-flex align-items-center justify-content-center my-5">
                            <div class="my-5">
                              <div class="d-flex justify-content-center align-items-center flex-wrap">
                                <input class="border-0 border-bottom w-75 bg-black rounded-bottom" type="text"
                                  placeholder="Search Website" aria-label=".form-control-lg example">
                                <a href="javascript:void(0)" id="btn-search-3"><i class="fa fa-search"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="iq-height" style="height: 89px;"></div>

  <router-outlet></router-outlet>

  <footer class="footer bg-soft-primary">
    <div class="footer-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 ">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <img class="img-fluid" src="assets/images/logo.png" alt="foodsto1">
              </a>
            </div>
            <div class="widget mb-4">
              <div class="textwidget text-body">
                <p>Subscribe to our newsletter and get 10% off your<br>
                  first purchase.
                </p>
              </div>
            </div>
            <ul class="info-share social-icone d-inline list-inline">
              <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0 ">
            <div class="widget">
              <h5 class="footer-title">Link</h5>
              <div class="menu-footer1-container">
                <ul id="menu-footer1" class="menu list-inline p-0 m-0">
                  <li class="menu-item"><a href="checkout.html"><i class="fas fa-chevron-right me-2"></i>Checkout</a>
                  </li>
                  <li class="menu-item"><a href="wishlist.html"><i class="fas fa-chevron-right me-2"></i>Wishlist</a>
                  </li>
                  <li class="menu-item"><a href="cart.html"><i class="fas fa-chevron-right me-2"></i>Shopping Cart</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
            <div class="widget">
              <h5 class="footer-title">Information</h5>
              <div class="menu-footer2-container">
                <ul id="menu-footer2" class="menu list-inline p-0 m-0">
                  <li class="menu-item"><a href="about-us.html"><i class="fas fa-chevron-right me-2"></i>About Us</a>
                  </li>
                  <li class="menu-item"><a href="our-team.html"><i class="fas fa-chevron-right me-2"></i>Our Team</a>
                  </li>
                  <li class="menu-item"><a href="contact-us.html"><i class="fas fa-chevron-right me-2"></i>Contact
                      Us</a></li>
                  <li class="menu-item"><a href="blog/left-sidebar-blog.html"><i
                        class="fas fa-chevron-right me-2"></i>Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
            <div class="widget">
              <h5 class="footer-title ">Quick Contact</h5>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="iq-contact list-inline p-0 m-0">
                    <li>
                      <a href="javascript:void(0)"><i class="fa fa-home"></i><span>1234 North Avenue Luke Lane, South
                          Bend, IN 360001</span></a>
                    </li>
                    <li>
                      <a href="mailto:jondoe@demo.com"><i class="fa fa-envelope"></i><span>jondoe@demo.com</span></a>
                    </li>
                    <li>
                      <a href="tel:+0123456789"><i class="fa fa-phone"></i><span>+0123456789</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright-footer bg-soft-primary">
    <div class="container">
      <div class="pt-3 pb-3">
        <div class="d-flex justify-content-between">
          <span class="copyright">Copyright 2021 foodsto All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="back-to-top">
    <a class="top" id="top" href="#top">
      <svg width="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 15.5L12 8.5L19 15.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
  <!--Nav End-->
</main>