
<ngx-spinner type="none" bdColor="rgba(256, 256, 256, 0.8)" size="medium" color="#fff" [fullScreen]="true" type="none">
  <img src="../../../assets/images/output-onlinegiftools.gif" alt="">
</ngx-spinner>
<main class="main-content">

  <!--Nav Start-->
  <header class="header1 has-sticky" id="main-header">
    <div class="container main-header">
      <div class="row no-gutters">
        <div class="col-sm-12">
          <nav class="navbar navbar-expand-xl navbar-light menu py-0">
            <div class="logo_block">
              <a class="navbar-brand" href="index.html">
                <img class="img-fluid logo" src="./assets/images/logo.png" alt="foodsto" />
                <img class="img-fluid logo-sticky" src="./assets/images/logo.png" alt="foodsto" />
                <h4>Food King</h4>
              </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="foodsto-menu-box navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="iq-menu-container" class="menu-main-menu-container">
                <ul id="top-menu" class="navbar-nav">
                  <li>
                    <a routerLink="" aria-current="page" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Ana səhİfə
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['category-list']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Katİqorİyalar
                      <i class="fas fa-chevron-down toggledrop"></i></a>
                    <ul class="sub-menu">
                      <li class="" *ngFor="let category of categories" (click)="browseCategory(category.key)">
                        <a>{{ category.value }}</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a [routerLink]="['wishlist']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Sevİmlİlər</a>
                  </li>
                  <li class="">
                    <a [routerLink]="['cart']" [routerLinkActive]="['active-menu']"
                      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Səbət
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <i  class="fas fa-shopping-basket" ></i> -->
            <lord-icon class="basket-icon" trigger="hover" [matMenuTriggerFor]="menu" [matBadge]="basketItems.length" src="../../assets/images/wired-outline-139-basket.json"></lord-icon>
            
            <mat-menu #menu="matMenu">
              <div class="basket-div" (click)="$event.stopPropagation()">
                <div *ngIf="basketItems.length > 0">
                  <div class="product-list">
                    <div class="product" *ngFor="let basketItem of basketItems">
                      <div class="product-img">
                        <img [src]="'http://192.168.37.49:3005/'+basketItem.imageUrl" alt="" />
                      </div>
                      <div class="product-info">
                        <span>{{ basketItem.name }}</span>
                        <span>
                          {{ basketItem.count + " × " + basketItem.price }}
                          ₼</span>
                      </div>
                      <div class="delete-product">
                        <i class="fas fa-times" (click)="removeBasketItem(basketItem.id)"></i>
                      </div>
                    </div>
                  </div>

                  <hr />
                  <div class="totalAmount-div">
                    <span>Ümumi məbləğ:</span>
                    <span>{{ totalBasketAmount }} ₼</span>
                  </div>
                  <div class="button-div">
                    <div class="iq-btn-container" id="banner-action">
                      <a routerLink="cart" (click)="closeBasket()">
                        <div class="btn btn-secondary animation-btn">
                          Səbətə bax<i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                        </div>
                      </a>
                    </div>
                    <div class="iq-btn-container" id="banner-action">
                      <a href="javascript:void(0)" (click)="confirmOrder()">
                        <div class="btn iq-button-checkout animation-btn">
                          Sifariş et<i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

                <div *ngIf="basketItems.length == 0">
                  <!-- <i class="fa-thin fa-basket-shopping"></i> -->
                  <p class="text-center font-weight-bold">Səbətdə məhsul yoxdur</p>
                </div>
              </div>
            </mat-menu>
            <div [ngSwitch]="loginnedUser">
              <div *ngSwitchCase="null">
                <div class="form-element">
                  <button id="logIn" class="login" name="login">
                    <a [routerLink]="['user-login']">Daxil ol</a>
                  </button>
                </div>
              </div>
              <div *ngSwitchDefault class="user-icon-div">
                
                <!-- <i class="fas fa-user-circle" [matMenuTriggerFor]="user"></i> -->
                <lord-icon class="user-icon" trigger="hover" [matMenuTriggerFor]="user" src="../../assets/images/wired-outline-21-avatar.json"></lord-icon>
              </div>

                <mat-menu #user="matMenu">
                  <div class="user-info">
                    <span>{{userData?.fullName}}</span>
                    <hr>
                    <div class="logOut">
                      <img src="../../assets/images/wired-outline-1725-exit-sign.gif" alt="">
                      <span (click)="logOut()">Çıxış et</span>
                    </div>
                  </div>
                </mat-menu>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="iq-height" style="height: 89px"></div>

  <router-outlet></router-outlet>

  <footer class="footer bg-soft-primary">
    <div class="footer-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <img class="img-fluid" src="assets/images/logo.png" alt="foodsto1" />
              </a>
            </div>
            <div class="widget mb-4">
              <div class="textwidget text-body">
                <p>
                  Subscribe to our newsletter and get 10% off your<br />
                  first purchase.
                </p>
              </div>
            </div>
            <ul class="info-share social-icone d-inline list-inline">
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
            <div class="widget">
              <h5 class="footer-title">Link</h5>
              <div class="menu-footer1-container">
                <ul id="menu-footer1" class="menu list-inline p-0 m-0">
                  <li class="menu-item">
                    <a href="checkout.html"><i class="fas fa-chevron-right me-2"></i>Checkout</a>
                  </li>
                  <li class="menu-item">
                    <a href="wishlist.html"><i class="fas fa-chevron-right me-2"></i>Wishlist</a>
                  </li>
                  <li class="menu-item">
                    <a href="cart.html"><i class="fas fa-chevron-right me-2"></i>Shopping Cart</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
            <div class="widget">
              <h5 class="footer-title">Information</h5>
              <div class="menu-footer2-container">
                <ul id="menu-footer2" class="menu list-inline p-0 m-0">
                  <li class="menu-item">
                    <a href="about-us.html"><i class="fas fa-chevron-right me-2"></i>About Us</a>
                  </li>
                  <li class="menu-item">
                    <a href="our-team.html"><i class="fas fa-chevron-right me-2"></i>Our Team</a>
                  </li>
                  <li class="menu-item">
                    <a href="contact-us.html"><i class="fas fa-chevron-right me-2"></i>Contact Us</a>
                  </li>
                  <li class="menu-item">
                    <a href="blog/left-sidebar-blog.html"><i class="fas fa-chevron-right me-2"></i>Blog</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
            <div class="widget">
              <h5 class="footer-title">Quick Contact</h5>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="iq-contact list-inline p-0 m-0">
                    <li>
                      <a href="javascript:void(0)"><i class="fa fa-home"></i><span>1234 North Avenue Luke Lane, South
                          Bend, IN
                          360001</span></a>
                    </li>
                    <li>
                      <a href="mailto:jondoe@demo.com"><i class="fa fa-envelope"></i><span>jondoe@demo.com</span></a>
                    </li>
                    <li>
                      <a href="tel:+0123456789"><i class="fa fa-phone"></i><span>+0123456789</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright-footer bg-soft-primary">
    <div class="container">
      <div class="pt-3 pb-3">
        <div class="d-flex justify-content-between">
          <span class="copyright">Copyright 2021 foodsto All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="back-to-top">
    <a class="top" id="top" href="#top">
      <svg width="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 15.5L12 8.5L19 15.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
  <!--Nav End-->
</main>