.form-element button {
    width: auto;
    font-weight: 500;
    margin-left: 20px;
    padding: 3px 10px;
    font-size: 19px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;
    background: #ffba43;
}

.form-element .login a {
    color: white;
}

.fa-shopping-basket {
    margin-left: 12px;
    font-size: 18px;
    cursor: pointer;
}

.fa-user-circle {
    margin-left: 35px;
    font-size: 24px;
    cursor: pointer;
}

.basket-div {
    width: 350px;
    padding: 30px;
    font-family: "Manrope", sans-serif;

}

::ng-deep.mat-mdc-menu-panel {
    max-width: 400px !important;
    margin-top: 20px;
}

.product-list {
    max-height: 220px;
    overflow-y: auto;
}

.product {
    display: flex;
    margin-bottom: 15px;
}

.product .product-info {
    width: 100%;
    display: flex;
    margin-left: 12px;
    flex-direction: column;
}

.product .product-info :nth-child(1) {
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: "Dosis", sans-serif !important;

}

.product .product-info :nth-child(2) {
    font-family: "Manrope", sans-serif;

}

.product .product-img img {
    width: 60px;
    height: 60px;
}

.fa-times {
    margin-right: 8px;
    font-size: 12px;
    color: green;
    cursor: pointer;
}

.totalAmount-div {
    display: flex;
    justify-content: space-between;
}

.totalAmount-div :nth-child(1) {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.762);
    font-size: 16px;
}

.animation-btn {
    padding: 8px 9px
}

.button-div {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.mat-badge-content{
    background: #3bb77e !important;
    font-weight: 400;
}

.user-info{
    padding: 12px 13px;
    
}

.user-info>span{
    font-family: 'Dosis', sans-serif;
    color: #3bb77e;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.logOut{
    width: 100%;
    margin-bottom: 7px;
}

.logOut img {
    height: 30px;
}

.logOut span {
    font-family: 'Dosis', sans-serif;
    color: #3bb77e;
    font-size: 18px;
    font-weight: 400;
    margin-left: 7px;
    cursor: pointer;
}

.basket-icon{
    margin-left: 20px;
    cursor: pointer;
}

.user-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 20px;

}

.user-icon{
    cursor: pointer;
    width: 23px;
    height: 23px;
}

::ng-deep.mat-badge-content{
    margin-left: 20px;
}

.wallet{
    background-color: #3bb77e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

.wallet span{
    color: white;
    margin-left: 7px;
}

@media (max-width:641px) {
    ::ng-deep.dialog-user-cabinet,::ng-deep.dialog-change-password {
        overflow: auto !important;
        width: 100% !important;
        max-width: 90vw !important;
        position: inherit;
    }

    // .user-icon-div{
    //     display: none;
    // }

    .navbar{
        justify-content: normal !important;
    }

    .basket-icon{
        margin-top: 10px;
        margin-left: 60px;
    }
}